/* ---------------------------------------- */
/*          Barra de Navegación             */
/* ---------------------------------------- */

.navbar-toggler {
    background-color: white;
}
/* ---------------------------------------- */
/*            Tarjetas-Boton                */
/* ---------------------------------------- */

.borde-color-azul {
    cursor:pointer;
    margin: 10px;
    padding-top: 10px;
    border-color: rgb(63, 128, 220);
    box-shadow: 2px 2px 5px  rgb(63, 128, 220);
}

.borde-color-naranja{
    cursor:pointer;
    margin: 10px;
    padding-top: 10px;
    border-color: orange;
    box-shadow: 2px 2px 5px orange;
} 


/* ---------------------------------------- */
/*              Formulario                  */
/* ---------------------------------------- */

/* Botones */
.btnForm {
    /*margin-inline: 1px;*/
    background-color: rgb(121, 184, 26);
    border-color: rgb(121, 184, 26);
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color:  rgb(92, 140, 20);
    border-color: rgb(92, 140, 20);
}


/* ---------------------------------------- */
/*          Pie de Pagina - Footer          */
/* ---------------------------------------- */

footer {
    /*Gradiente de Colores para el BackGround */
    place-content: center; 
    background: rgba(25,22,84,1); 
    background: -moz-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); 
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,22,84,1)), color-stop(100%, rgba(67,198,172,1))); 
    background: -webkit-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); 
    background: -o-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); 
    background: -ms-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); 
    background: linear-gradient(to right, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191654', endColorstr='#43c6ac', GradientType=1 );
}

footer a{
        text-decoration:none;
        color: whitesmoke;
}
